
// diamond right shape for images;
.diamond-angle-right{
  width: 10rem;
  height: 15.8rem;
  background-color: transparent;
  -webkit-clip-path: $diamond-polygon;
  clip-path: $diamond-polygon;
  transform: rotate(212.3deg);
}

// deep dark blue;
.diamond-angle-right__deep-dark-blue{
  width: 10rem;
  height: 15.8rem;
  background-color: $deep-dark-blue;
  -webkit-clip-path: $diamond-polygon;
  clip-path: $diamond-polygon;
  transform: rotate(212.3deg);
}

// off white grey;
.diamond-angle-right__off-white-grey{
  width: 20.4rem;
  height: 33rem;
  background-color: $off-white-grey;
  -webkit-clip-path: $diamond-polygon;
  clip-path: $diamond-polygon;
  transform: rotate(212.3deg);
}
// image of man with glasses bottom left;
.diamond-angle-right__man-with-glasses{
  width: 100%;
  height: 100%;
  background-image: $man-with-glasses-photo;
  background-size: cover;
  background-position: -2.8rem;
  transform: rotate(-212.3deg);
}

// image of girl with dard hair top middle;
.diamond-angle-right__girl-with-darkhair{
  width: 100%;
  height: 100%;
  background-image: $girl-with-darkhair-photo;
  background-size: cover;
  background-position: -2.8rem;
  transform: rotate(-212.3deg);
}










