
// images;
$man-with-glasses-photo: url("../images/3c13ac025b6afdb6c50f503e8efffd194a8f2605.png");
$johanna-profile-photo: url("../images/7a59abfa6376692d74384a96e57216b389e0fffe.png");
$man-with-beard-photo: url("../images/5f15b4686f69ef85a329906e52994af6987dff6c.png");
$girl-with-darkhair-photo: url("../images/ab73b39ffc19a2d7129f3b49aff17ab02961a7de.png");
$girl-blackwhite-image: url("../images/05a93562c7568029e0292b75d6b1754b174d4d62.png");

// shapes;
$diamond-polygon: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

// colors;
$deep-dark-blue: #041D29;
$dark-pale-blue: #052C3D;
$grey-blue: #07445E;
$off-white-grey: #E9F1F5;
